@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1d283a;
    font-family: "Roboto", sans-serif;
    height: 1000px;
}

/*  background-color: #1d283a;
    background-color: #252627;
    background-color: #577185;
    background-color: #1dc7c7;*/

.menu {
    padding: 1rem;
    margin-top: 20px;
    background-color: #1d283a;
    position: fixed;
    height: 6rem;
    width: 100%;
    bottom: 85%;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.menu ul li {
    list-style: none;
}

.menu ul li a:hover {
    transform: scale(1.1);
}

.menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: aliceblue;
    transition: .2s;
}

.nav-bar {
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5rem;
    margin-top: 40px;
    border-bottom: 1px solid #f0f8ff;
}

.conteudo-principal {
    width: 600px;
    height: 200px;
    padding: 1rem;
    border-radius: 20px;
    margin-bottom: 80px;
}

.conteudo-principal h1{
    color: #f0f8ff;
    font-size: 3rem;
    margin-bottom: 5px;
    line-height: 50px;
}

.conteudo-principal h2 {
    color: #f0f8ff;
    font-size: 2rem;
    margin-bottom: 20px;
}

.conteudo-principal p {
    color: #f0f8ff;
    font-size: 17px;
}

main img {
    width: 300px;
    height: 400px;
    border: 4px solid #1dc7c7;
    border-radius: 30px;
    transition: .3s;
}

main img:hover {
    box-shadow: 0px 0px 8px 6px #1dc7c7,
    inset 0px 0px 10px 2px #1dc7c7;
    transform: scale(1.05);
}

.imagem-conteudo-principal img {
    position: relative;
    animation: float 2s ease-in-out infinite alternate;
}

@keyframes float {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}